# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pch
*.pdb
*.idb
*.ipch
*.tlog
*.log
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Build directories
[Bb]in/q
[Oo]bj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# extern librairies
.extern/

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
*.user
*.suo